body {
    background-color: #ececec;
}

.styled-input {
    width: 99%;
    height: 4em;
    padding: 0.5%;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    resize: vertical;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), inset 0 -1px 0 #b5b5b5;
    font-family: sans-serif;
    overflow-y: auto;
}

.copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.2s;
}
.copy-btn:hover {
    opacity: 1;
}
.clear-btn {
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 8px 12px;
    background: #ffc107;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.2s;
}
.clear-btn:hover {
    opacity: 1;
}

/**
 * hg-theme-default theme
 */
 .simple-keyboard.hg-theme-ios {
  width: 100%;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-row .hg-button {
  flex-grow: 1;
  cursor: pointer;
  max-width: initial;
}
.simple-keyboard.hg-theme-ios .hg-row {
  display: flex;
}
.simple-keyboard.hg-theme-ios .hg-row:not(:last-child) {
  margin-bottom: 5px;
}
.simple-keyboard.hg-theme-ios .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}
.simple-keyboard.hg-theme-ios .hg-row:nth-child(2) {
  margin-left: 18px;
}
.simple-keyboard.hg-theme-ios.hg-theme-default {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
}
.simple-keyboard.hg-theme-ios.hg-theme-default.hg-layout-custom {
  background-color: #e5e5e5;
  padding: 5px;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0;
  background: white;
  border-bottom: 1px solid #b5b5b5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  font-weight: 400;
  font-size: 20px;
  aspect-ratio: 1 / 1;
  width: 6%
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button:active,
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button:focus {
  background: #e4e4e4;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button.hg-functionBtn {
  background-color: #adb5bb;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button.hg-button-space,
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button.hg-button-shift,
.simple-keyboard.hg-theme-ios.hg-theme-default
  .hg-button.hg-button-shiftactivated {
  background-color: #ffffff;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-space {
    aspect-ratio: auto;
    width: 35%;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-enter {
    aspect-ratio: auto;
    width: 10%;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-altright,
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-back {
    aspect-ratio: auto;
    width: 8%;
}
